.footer-div {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    background-color: white;
    padding: 15px 0px 10px 0px;

}

@keyframes slide {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%);
    }
}

.logo-slide {
    display: inline-block;
    animation: slide 30s linear none infinite;

}

.logo-slide img {
    height: 40px;
    margin: 0 60px;
}