.carousel {
    position: relative;
    height: 100vh;
    overflow: hidden;
    overflow-y: hidden;
    margin: auto;
}


.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}

.carousel img.active {
    opacity: 0.7;
    z-index: 1;
}

@media (max-width: 900px) {
    .img-2 {
        transform: translateX(-18%);
        overflow-x: visible;
    }

    .img-0 {
        transform: translateX(-15%);
        overflow-x: visible;
    }
}

@media (max-width: 500px) {
    .img-2 {
        transform: translateX(-60%);
        overflow-x: visible;
    }
}

.home-info {
    position: absolute;
    z-index: 999;
    width: 400px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    color: white;
    text-align: center;
}

.home-header {
    font-weight: 900;
    font-size: 3rem;
    line-height: 90px;
}

.main-shop-btn {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 1px 1px 1px;
    display: inline-block;
}

.home-info div:last-child {
    margin-top: 30px;
}

.main-shop-btn:hover {
    opacity: 0.9;
    color: #113f67;
    ;
    transform: translateY(-3px);
}

@media (max-width: 600px) {

    .home-header,
    .home-sub {
        width: 250px
    }

    .home-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: calc(50% - 200px);
        height: 400px;
    }

    .home-header {
        line-height: 60px;
    }

    .home-sub {
        margin-top: 10px;
    }

}