.carousel {
  position: relative;
  height: 100vh;
  
  overflow: hidden;
  overflow-y: hidden;
  margin: auto;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.carousel img.active {
  opacity: 1;
  z-index: 1;
}

@media (max-width: 900px) {
    .img-2 {
        transform: translateX(-18%);
        overflow-x: visible;
    }
    .img-0 {
        transform: translateX(-15%);
        overflow-x: visible;
    }
}

@media (max-width: 500px) {
     .img-2 {
        transform: translateX(-60%);
        overflow-x: visible;
    }
}