body {
    margin: 0;
    padding: 0;
    background-color: #e7eaf6;
}

main {
    padding-top: 30px;
}

@media (max-width: 1200px) {
    main {
        padding-top: 70px
    }
    
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(246, 246, 246);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 1px 1px 1px;
}