body {
    margin: 0;
    padding: 0;
    background-color: #38598b;
}

main {
    background-color: #38598b;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(246, 246, 246);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 1px 1px 1px;
}

button:hover {
    transform: translateY(-3px);
}

a:hover {
    transform: translateY(-3px);
}