body {
    margin: 0;
    padding: 0;
    background-color: #0b258f;
}


* {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(246, 246, 246);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 1px 1px 1px;
    
}

button:hover {
    transform: translateY(-3px);
}