.nav-bar {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background-color: #e7eaf6;
    padding: 1%;
}

.links {
    display: flex;
    gap: 3vw
}

.logo, .links {
    margin: 0 2% 0 2%;
}

