.nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 3vh;
}

.links {
    display: flex;
    gap: 3vw;
}

.logo, .links {
    margin: 0 4% 0 2%;
}

