.shop-grid {
    max-width: 1200px;
    background-color: #e7eaf6;
    margin: auto;
    padding: 100px 5% 5% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    gap: 5vh;
}

@media (max-width: 666px) {
    .item-card {
        max-width: 350px;
    }
    .shop-grid {
        justify-content: center;
    }
    
}

.item-title {
    font-weight: 600;
    margin-top: 20px;
}

.shop-grid::after {  
    content: '';
    display: block;
    height: 50px;
}

.item-card {
    height: auto;
    padding: 0 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px ;
}

.item-img {
  width: 100%;         
  height: 200px;       
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  overflow: hidden;    
  
}

.item-img img {
    background-color: transparent;
  max-width: 100%;
  scale: 0.8;
  max-height: 100%;
  object-fit: contain;   
}


.atc-cont, .cart-adjust-cont {
    display: flex;
    align-items: center;
    gap: 7px

}

.atc-cont {
    justify-content: space-between;
}

.added {
    padding: 8px 0;
    text-align: center;
    height: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    color: green

}
.visible {
    opacity: 1;
}

